/*-----------------
 fonts 
 ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');


/*--------------------- 
 common styles 
 -----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* -----------------------
header styles 
------------------------*/
header {
    height: 100%;
    background-color: rgba(255, 144, 14, 0.1);
    text-align: center;
    margin-bottom: 130px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 130px;

}

.header-title {
    font-weight: 700;
    font-size: 45px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}


/* -----------------------
banner section styles 
------------------------*/
.banner-title {
    font-weight: 700;
    font-size: 64px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.banner-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.banner-section img {
    width: 80%;
}

.btn {
    width: 180px;
    height: 60px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    margin-bottom: 50px;
}


/* -------------------------
team section styles 
--------------------------*/
.team-container {
    display: flex;
    gap: 70px;
    margin-top: 85px;
    align-items: center;
    margin: 0 200px;
}

.team-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.team-pic img {
    height: 242px;
    width: 242px;
}

.team-title {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
    padding-bottom: 24px;
}

.quick {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.of {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.team-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 30px;
}


/* -------------------------
features styles
-------------------------- */
.feature-container {
    display: flex;
    margin: 100px;
    gap: 110px;
    align-items: center;
}


.features-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.vl {
    border-left: 5px solid #FF900E;
    height: 105px;
}

.features-title {
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
    margin-bottom: 24px;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
}

.features-details {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.feature-details {
    font-weight: 400;
    font-size: 16px;
}

.feature-box {
    width: 486px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
}

.btn-ex {
    width: 340px;
    height: 200px;
    font-weight: 700;
    font-size: 65px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    position: absolute;
    bottom: -70px;
    left: -90px;

}

span {
    font-weight: 500;
    font-size: 25px;
}

.position {
    position: relative;

}

.position>img {
    width: 100%;
    border-radius: 8px;
}

.facts-container {
    padding: 0px 150px;
    margin-bottom: 100px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
}

.facts-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}


/* -----------------------------
website information styles 
------------------------------*/
.site-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 100px;
    margin-bottom: 180px;
    gap: 50px;
}

.info-box {
    height: 241px;
    width: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding-top: 50px;
    transition: 1s;
}

.info-box:hover {
    height: 241px;
    width: 241px;
    background-color: #da923f;
}

.info-title {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.site-details {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}


/* -------------------------
brochure section styles
--------------------------*/
.brochures {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    text-align: center;
    padding: 50px;
    justify-content: center;
}

.bro-title {
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    color: #727272;
}

.bro-span {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.brochure-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.brochure img {
    width: 90%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.btn-read {
    width: 180px;
    height: 60px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
}


/* -------------------------
footer styles 
--------------------------*/
.sponsor {
    text-align: center;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.sponsor-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}

.sponsor-img {
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
}

.sponsor-img img {
    filter: grayscale(100%);
}

.copyright {
    text-align: center;
    margin: 100px 150px;
    font-weight: 400;
    font-size: 20px;
    background-color: #FFF4E7;
    height: 100px;
    padding: 40px;
    border-radius: 8px;

}


/*------------------------
 responsive styles
 -----------------------*/
@media only screen and (max-width: 576px) {
    .header-container {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        gap: 8px;
    }

    .banner-section {
        padding: 0 20px;
    }

    .banner-section img {
        width: 100%;
        padding: 0 20px;
    }

    .team-container {
        flex-direction: column;
        margin: 0 20px;
        text-align: center;
    }

    .team-pic {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature-container {
        flex-direction: column;
        margin: 0;
        padding: 0 20px;
        width: 100%;
    }

    .features-title {
        padding: 0;
        font-size: 35px;
    }

    .features-info {
        width: 100%;
    }

    .vl {
        border: none;
    }

    .feature-box {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px;
    }

    .position {
        text-align: center;
    }

    .btn-ex {
        position: static;
        width: 200px;
        font-size: 45px;
        height: 120px;
        margin-bottom: 50px;

    }

    .facts-container {
        padding: 0 20px;
        margin: 30px 0;
        text-align: center;
    }

    .site-info {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .brochures {
        flex-direction: column;
        padding: 0;
    }

    .sponsor {
        margin: 0 20px;
    }

    .sponsor-img {
        flex-direction: column;
        margin: 0 100px;
        gap: 30px;

    }

    .copyright {
        margin: 20px 0;
        padding: 20px;

    }
}